[submodule "thirdparty/straitx-core"]
	path = thirdparty/straitx-core
	url = https://github.com/straitx/core
[submodule "thirdparty/straitx-tgbot"]
	path = thirdparty/straitx-tgbot
	url = https://github.com/straitx/tgbot
[submodule "thirdparty/straitx-json"]
	path = thirdparty/straitx-json
	url = https://github.com/straitx/json
[submodule "thirdparty/straitx-ini"]
	path = thirdparty/straitx-ini
	url = https://github.com/straitx/ini
